[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	create = group user/Jason Laskowski (jlask)
	push = +force group user/Jason Laskowski (jlask)
	label-Code-Review = -2..+2 group user/Jason Laskowski (jlask)
	label-Verified = -1..+1 group user/Jason Laskowski (jlask)
	submit = group user/Jason Laskowski (jlask)
